@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i&subset=latin-ext,vietnamese');

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline
}

audio:not([controls]) {
	display: none;
	height: 0
}

[hidden],
template {
	display: none
}

a {
	background-color: transparent
}

a:active,
a:hover {
	outline: 0
}

abbr[title] {
	border-bottom: 1px dotted
}

b,
strong {
	font-weight: 700
}

dfn {
	font-style: italic
}

h1 {
	font-size: 2em;
	margin: .67em 0
}

mark {
	background: #ff0;
	color: #000
}

small {
	font-size: 80%
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -.5em
}

sub {
	bottom: -.25em
}

img {
	border: 0
}

svg:not(:root) {
	overflow: hidden
}

figure {
	margin: 1em 40px
}

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0
}

pre {
	overflow: auto
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0
}

button {
	overflow: visible
}

button,
select {
	text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer
}

button[disabled],
html input[disabled] {
	cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0
}

input {
	line-height: normal
}

input[type=checkbox],
input[type=radio] {
	box-sizing: border-box;
	padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	height: auto
}

input[type=search] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}

fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em
}

legend {
	border: 0;
	padding: 0
}

textarea {
	overflow: auto
}

optgroup {
	font-weight: 700
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

td,
th {
	padding: 0
}

* {
	box-sizing: border-box;
	outline: none;
}

html,
body {
	padding: 0;
	margin: 0;
	width: 100%;
	font-family: Roboto, sans-serif;
	background-color: #fff;
	color: #000;
	font-size: 16px;
	line-height: normal;
	box-sizing: border-box;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.ib {
	display: inline-block;
}

.container {
	box-sizing: border-box;
	max-width: 1170px;
	margin: 0 auto;
}

input::-ms-clear {
	display: none;
}

b {
	font-weight: 500;
	color: #222;
}


::-webkit-input-placeholder {
	color: #666666;

	font-size: 16px;
}

::-moz-placeholder {
	color: #666666;

	font-size: 16px;
}

/* Firefox 19+ */
:-moz-placeholder {
	color: #666666;

	font-size: 16px;
}

/* Firefox 18- */
:-ms-input-placeholder {
	color: #666666;

	font-size: 16px;
}

.title {
	color: #222222;
	font-size: 48px;
	font-weight: 900;
	line-height: 48px;
	text-align: center;
}

.green {
	color: #92b069;
}

.orange {
	color: #fd7532;
}

.red {
	color: #f33939;
}

.nowrap {
	white-space: nowrap;
}

.info-price {
	text-align: center;
	font-size: 14px;
	margin-top: 8px;
}

.btn {
	height: 60px;
	border-radius: 5px;
	background-color: #ffffff;
	background-image: linear-gradient(to right, #fd7532 0%, #fb905c 26%, #fd7532 50%, #fd6232 51%, #fc8d56 75%, #fd6232 100%);
	box-shadow: 0px 26px 29px -24px #e46324;
	background-size: 200% auto ;
	
	background-position: 0 0;
  transition: background-position 0.5s;
	color: #ffffff;
	font-size: 30px;
	font-weight: 700;
	line-height: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	border-bottom: 6px solid #e46324;
	cursor: pointer;
	&:hover {
		background-position: 100% 0;
	}
}

.price {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 10px;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		top: 2px;
		left: 50%;
		transform: translateX(-50%);
		width: 1px;
		height: 50px;
		background-color: #d1d0d0;
	}

	&-old {
		margin-right: auto;
		&__title {
			color: #666666;
			font-size: 13px;
			font-weight: 400;
			line-height: 1;

		}

		&__count {
			color: #a2a1a1;
			font-family: Roboto;
			margin-top: 11px;
			font-weight: 400;
			line-height: 1;
			font-size: 28px;
			letter-spacing: -1.4px;
			font-size: 28px;

			.x_price_previous {
				position: relative;

				&:before,
				&:after {
					content: '';
					position: absolute;
					left: 50%;
					top: 50%;
					width: 100%;
					height: 1px;
					background-color: #f01d07;
					transform: translateX(-50%) translateY(-50%) rotate(20deg);
				}

				&:after {
					transform: translateX(-50%) translateY(-50%) rotate(-20deg);
				}
			}

			.x_currency {
				font-size: 16px;
				margin-left: 2px;
				letter-spacing: normal;
			}
		}
	}

	&-new {
		&__title {
			color: #fd7532;
			font-size: 14px;
			font-weight: 500;
			line-height: 1;

		}

		&__count {

			font-size: 40px;
			font-weight: 900;
			letter-spacing: -2px;
			color: #fd7532;

			.x_currency {
				font-size: 16px;
				letter-spacing: normal;
				font-weight: 500;
				margin-left: 2px;
			}

			.star {
				font-size: 18px;
			}
		}
	}
}

.form {
	width: 270px;
	box-shadow: 0 0 35px rgba(134, 147, 162, 0.25);
	border-radius: 10px;
	border: 4px solid #b2c88b;
	background-color: #ffffff;

	.price {
		margin-top: 18px;
	}

	&-title {
		color: #000000;
		font-family: Roboto;
		font-size: 23px;
		font-weight: 500;
		text-align: center;
		line-height: 22px;
	}

	.orange {
		color: #fd7532;
		font-size: 24px;
		font-weight: 700;
		line-height: 26px;
	}

	&-bg {
		background-color: #fff5dd;
		padding: 18px 20px 0;
		position: relative;
		z-index: 0;
		width: 100%;
		box-sizing: border-box;
		border-radius: 10px 10px 0px 0px;
		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: -147px;
			border: 131px solid transparent;
			border-top: 17px solid #fff5dd;
		}
	}

	&-packCount {
		color: #000000;
		text-align: center;
		font-size: 16px;
		font-weight: 500;
		line-height: 16px;
		margin-top: 5px;
		padding-bottom: 8px;

		.lastpack {
			color: #92b069;
		}
	}

	&__cont {
		margin-top: 30px;
		padding: 0 20px;
		z-index: 2;
	}

	&__input-name {
		position: relative;
	}

	&__input-name::before {
		content: "";
		width: 19px;
		height: 23px;
		background-image: url(../img/user-icon.svg);
		position: absolute;
		left: 20px;
		top: 15px;
	}

	&__input {
		height: 58px;
		border: 1px solid #dedddd;
		display: flex;
		align-items: center;
		padding: 0 50px;
		color: #666;
		box-shadow: inset 2px 3px 5px rgba(34, 35, 39, 0.09);
		border-radius: 5px;
		transition: all .3s;
		width: 100%;

		&:focus,
		&:hover {
			box-shadow: inset 0 0 10px 2px rgba(253, 117, 50, 0.2);
		}
	}

	&__input-phone {
		position: relative;
		margin-top: 16px;

		&:before {
			content: "";
			width: 21px;
			height: 24px;
			background-image: url(../img/phone-icon.svg);
			position: absolute;
			left: 19px;
			top: 17px;
		}
	}



	&__btn {
		width: 220px;
		height: 70px;
		border-radius: 5px;
		background-color: #ffffff;
		background-image: linear-gradient(to right, #fd7532 0%, #fb905c 51%, #fd7532 100%);
		margin-top: 16px;
		font-size: 27px;
		font-weight: 900;
		line-height: 23px;
		border: 0;
		color: #fff;
		border-bottom: 5px solid #e46324;
		box-shadow: 0px 25px 23px -24px #e46324;
		transition: all 0.5s;
		&:hover{
			box-shadow: none;
		}
	}

	&__btn_size {
		font-size: 20px;
		font-weight: 500;
		display: block;
	}

	&__bottom {
		width: 100%;
		padding: 15px 0 13px 23px;
		margin-top: 21px;
		font-size: 15px;
		color: #1f1f1f;
		background-color: #ffffff;
		box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.04);
		position: relative;
		text-align: center;
		border-radius: 0px 0px 10px 10px;
		&:before {
			content: '';
			width: 22px;
			height: 19px;
			background-image: url(../img/coins-icon.svg);
			position: absolute;
			left: 25px;
			top: 15px;
		}
	}

	&:after {
		content: '';
		width: 53px;
		height: 296px;
		background-image: url(../img/form-arrow.svg);
		background-size: 100% 100%;
		position: absolute;
		right: -34px;
		top: 133px;
	}
	.info-price{
		margin-top: 13px;
	}
}
.form-bottom{
	.price-new__title {
		color: #30302f;
		font-size: 14px;
		font-weight: 400;
		line-height: 10px;
	}
}
@import "common/imports/slick";
@import "common/imports/slick-theme";


@import "common/header";
@import "common/nav.scss";
@import "common/sing";
@import "common/sequela";
@import "common/trouble";
@import "common/op";
@import "common/stat";
@import "common/act";
@import "common/components";
@import "common/reviews";
@import "common/screens";
@import "common/delivery";
@import "common/acme";
@import "common/footer.scss";
@import "common/popup.scss";


@media screen and (max-width: 1199px) {
	.container {
		max-width: 1024px;
		padding-right: 10px;
		padding-left: 10px;
	}

	.block {
		padding: 60px 0;
	}

	.title {
		font-size: 44px;
		line-height: 44px;
	}
}


@media (max-width: 1023px) {
	.container {
		max-width: 768px;
	}

	.title {
		font-size: 39px;
		line-height: 39px;
	}

	.block {
		padding: 40px 0;
	}
}

@media (max-width: 767px) {
	.container {
		max-width: 640px;
	}

	.title {
		font-size: 34px;
		line-height: 34px;
	}

	.block {
		padding: 30px 0;
	}

}


@media screen and (max-width: 639px) {
	.title {
		font-size: 26px;
		line-height: 26px;
	}

	.container {
		max-width: 480px;
	}

	.block {
		padding: 25px 0;
	}
}

@keyframes improve {
	from {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}

	to {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@-webkit-keyframes rotateElem {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		opacity: .8;
	}

	to {
		-webkit-transform: rotate(720deg);
		transform: rotate(720deg);
	}
}

@keyframes rotateElem {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		opacity: .8;
	}

	to {
		-webkit-transform: rotate(720deg);
		transform: rotate(720deg);
	}
}

@-webkit-keyframes improveWidth {
	from {
		width: 0;
	}
}

@keyframes improveWidth {
	from {
		width: 0;
	}
}

@keyframes show-hide {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes moveTop {
	to {
		top: -21px;
	}
}

@keyframes fixshow {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}