@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i&subset=latin-ext,vietnamese');

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline
}

audio:not([controls]) {
	display: none;
	height: 0
}

[hidden],
template {
	display: none
}

a {
	background-color: transparent
}

a:active,
a:hover {
	outline: 0
}

abbr[title] {
	border-bottom: 1px dotted
}

b,
strong {
	font-weight: 700
}

dfn {
	font-style: italic
}

h1 {
	font-size: 2em;
	margin: .67em 0
}

mark {
	background: #ff0;
	color: #000
}

small {
	font-size: 80%
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -.5em
}

sub {
	bottom: -.25em
}

img {
	border: 0
}

svg:not(:root) {
	overflow: hidden
}

figure {
	margin: 1em 40px
}

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0
}

pre {
	overflow: auto
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0
}

button {
	overflow: visible
}

button,
select {
	text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer
}

button[disabled],
html input[disabled] {
	cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0
}

input {
	line-height: normal
}

input[type=checkbox],
input[type=radio] {
	box-sizing: border-box;
	padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	height: auto
}

input[type=search] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}

fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em
}

legend {
	border: 0;
	padding: 0
}

textarea {
	overflow: auto
}

optgroup {
	font-weight: 700
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

td,
th {
	padding: 0
}

* {
	box-sizing: border-box;
	outline: none;
}

html,
body {
	padding: 0;
	margin: 0;
	width: 100%;
	font-family: Roboto, sans-serif;
	background-color: #fff;
	color: #000;
	font-size: 16px;
	line-height: normal;
	box-sizing: border-box;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.ib {
	display: inline-block;
}

.container {
	box-sizing: border-box;
	max-width: 1170px;
	margin: 0 auto;
}

input::-ms-clear {
	display: none;
}

b {
	font-weight: 500;
	color: #222;
}


::-webkit-input-placeholder {
	color: #666666;
	
	font-size: 16px;
}

::-moz-placeholder {
	color: #666666;
	
	font-size: 16px;
}

/* Firefox 19+ */
:-moz-placeholder {
	color: #666666;
	
	font-size: 16px;
}

/* Firefox 18- */
:-ms-input-placeholder {
	color: #666666;
	
	font-size: 16px;
}

.title {
	color: #222222;
	font-size: 48px;
	font-weight: 900;
	line-height: 48px;
	text-align: center;
}

.green {
	color: #92b069;
}

.orange {
	color: #fd7532;
}
.red{
	color: #f33939;
}
.nowrap {
	white-space: nowrap;
}
.info-price{
	text-align: center;
	font-size: 14px;
	margin-top: 8px;
}
.btn {
	height: 60px;
	border-radius: 5px;
	background-color: #ffffff;
	background-image: linear-gradient(to right, #fd7532 0%, #fb905c 51%, #fd7532 100%);
	box-shadow: 0px 26px 29px -24px #e46324;
	color: #ffffff;
	font-size: 30px;
	font-weight: 700;
	line-height: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	border-bottom: 6px solid #e46324;
	cursor: pointer;

	&:hover{
		background-image: linear-gradient(to right, #fd6232 0%, #fc8d56 51%, #fd6232 100%);
	}
}

@import "common/imports/slick";
@import "common/imports/slick-theme";


@import "common/header";
@import "common/sing";
@import "common/sequela";
@import "common/trouble";
@import "common/components";
@import "common/footer.scss";


@media screen and (max-width: 1199px) {
	.container {
		max-width: 1024px;
		padding-right: 10px;
		padding-left: 10px;
	}

	.block {
		padding: 60px 0;
	}

	.title {
		font-size: 44px;
		line-height: 44px;
	}
}


@media (max-width: 1023px) {
	.container {
		max-width: 768px;
	}

	.title {
		font-size: 39px;
		line-height: 39px;
	}

	.block {
		padding: 40px 0;
	}
}

@media (max-width: 767px) {
	.container {
		max-width: 640px;
	}

	.title {
		font-size: 34px;
		line-height: 34px;
	}

	.block {
		padding: 30px 0;
	}

}


@media screen and (max-width: 639px) {
	.title {
		font-size: 26px;
		line-height: 26px;
	}

	.container {
		max-width: 480px;
	}

	.block {
		padding: 25px 0;
	}
}

@keyframes improve {
	from {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}

	to {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@-webkit-keyframes rotateElem {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		opacity: .8;
	}

	to {
		-webkit-transform: rotate(720deg);
		transform: rotate(720deg);
	}
}

@keyframes rotateElem {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		opacity: .8;
	}

	to {
		-webkit-transform: rotate(720deg);
		transform: rotate(720deg);
	}
}
@-webkit-keyframes improveWidth {
  from {
    width: 0;
  }
}

@keyframes improveWidth {
  from {
    width: 0;
  }
}