<section class="acme block">
	<div class="container">
		<div class="girl"><img src="img/header-girl.png" alt="girl"></div>
		<div class="acme-content">
			<div class="header-boxs__pack">
				<img class="header-pack" src="img/pack.png" alt="Varius">
				<img src="img/branch.png" alt="branch" class="header-branch">
				<img src="img/branch-2.png" alt="branch" class="header-branch2">
			</div>
			<div class="acme-edge">
				<div class="acme-title">Крем<br> <span class="green">от варикоза</span></div>
				<div class="acme-subtitle">на основе концентрированного экстракта женьшеня</div>
				<div class="header-edge__list">Облегчение боли<br> и симптомов</div>
				<div class="header-edge__list">Заметное улучшение<br> за 1 курс</div>
				<div class="header-edge__list hel3">Натуральный состав</div>
				<div class="header-edge__last">Мощный антиоксидант</div>
			</div>
			<div class="form form-bottom">
				<div class="form-bg">
						<div class="form-title">Успейте заказать<br> со скидкой<br> <span class="orange">до <span class="date-0">15.01.2019</span></span></div>
						<div class="price">
							<div class="price-old">
								<div class="price-old__title">Старая цена</div>
								<div class="price-old__count">
									<span class="x_price_previous">1999</span><span class="x_currency">руб</span><span class="star"></span>
								</div>
							</div>
							<div class="price-new">
								<div class="price-new__title">Новая цена</div>
								<div class="price-new__count">
									<span class="x_price_current">990</span><span class="x_currency">руб</span><span class="star"></span>
								</div>
							</div>
						</div>
						<div class="form-packCount">Осталось упаковок<br>
							со скидкой: <span class="lastpack">15</span></div>
				</div>
				<form action="/submit" method="post" class="x_order_form form__cont">
					<div class="form__input-name"><input type="text" name="name" placeholder="Моё имя" required="" autocomplete="name" class="form__input"></div>
					<div class="form__input-phone"><input type="tel" name="phone" placeholder="Мой телефон" required="" autocomplete="tel" class="form__input"></div>
					<button type="submit" class="form__btn">Заказать <span class="form__btn_size">со
							скидкой<span></button>
				</form>
				<p class="form__bottom">Оплата после получения</p>
			</div>
		</div>
	</div>
</section>