<section class="act block">
	<div class="container">
		<h2 class="title">Как работает Varius</h2>
		<p class="act-subtitle">Основа Varius - концентрированный экстракт тайского женьшеня<br> с <b>антиоксидантным эффектом</b></p>
		<div class="act-content">
			<div class="act-box">
				<div class="act-box__img">
					<img src="img/pack.png" alt="product" class="act-box__pack">
					<img src="img/branch.png" alt="branch" class="act-box__branch">
					<img src="img/branch-2.png" alt="branch" class="act-box__branch2">
				</div>
			</div>
			<div class="act-box">
				<div class="act-ingrid">
					<div class="act-ingrid__row">
						<div class="act-ingrid__img">
							<div class="act__top-arrow"></div>
							<img src="img/act-1.png" alt="act">
						</div>
						<div class="act-ingrid__sub">Активные вещества крема
							<b>легко проникают</b> через поверхность
							кожи в глубокие слои</div>
					</div>
					<div class="act-ingrid__row">
						<div class="act-ingrid__img two">
							<div class="act__top-arrow"></div>
							<div class="act__horizontal-arrow"></div>
							<img src="img/act-1.png" alt="act">
						</div>
						<div class="act-ingrid__sub">Антиоксидантные вещества
							в глубоких тканях <b>действуют
								восстанавливающе</b> на вены и сосуды
						</div>
					</div>
					<div class="act-ingrid__row">
						<div class="act-ingrid__img three">
							<div class="act__top-arrow"></div>
							<div class="act__horizontal-arrow"></div>
							<img src="img/act-2.png" alt="act">
						</div>
						<div class="act-ingrid__sub">С каждым днем <b>действие крема
								усиливается</b> благодаря
							накопительному эффекту
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="act-attention">Оставьте в прошлом варикоз и верните здоровье и красоту своим ногам!</div>
	</div>
</section>