<section class="components block" id="components">
	<div class="container">
		<h2 class="title">Состав крема Varius <span class="green nowrap">полностью натуральный</span></h2>
		<p class="components__subtitle">При производстве используются новые технологии,
			<br>которые позволяют получать максимально концентрированные <b class="nowrap">экстракты каштана</b></p>
		<div class="components__effects">
			<ul class="components__list">
				<li class="components__item">
					<b>Не допускает <br>судороги</b>
				</li>
				<li class="components__item">
					<b>Снимает отеки <br>ног</b>
				</li>
				<li class="components__item">
					<b>Помогает <br>укрепить вены</b>
				</li>
				<li class="components__item">
					<b>Уменьшает <br>тяжесть в ногах</b>
				</li>
				<li class="components__item">
					<b>Минимизирует опасность <br>возникновения язв</b>
				</li>
				<li class="components__item">
					<b>Помогает снять <br>боль</b>
				</li>
				<li class="components__item">
					<b>Останавливает разрушающее <br>действие свободных радикалов</b>
				</li>
				<li class="components__item">
					<b>Предотвращает набухание <br>и выпирание вен под кожей</b>
				</li>
				
				
				
			</ul>
			<div class="components__effects-img">
				<img src="./img/components__effects.jpg" alt="">
			</div>
		</div>
		<div class="ingredients">
			<h3 class="ingredients__title">Дополнительные ингредиенты <br>усиливают действие крема</h3>
			<ul class="ingredients__list">
				<li class="ingredients__item">
					<div class="ingredients__img ingredients__img-1">
						<img  src="./img/ingredients__img-1.png" alt="">
					</div>
					<h4 class="ingredients__name">Кемпферия парвифлора</h4>
					<p class="ingredients__desc">Укрепляет сосуды, предотвращает образование тромбов</p>
				</li>
				<li class="ingredients__item">
					<div class="ingredients__img ingredients__img-2">
						<img  src="./img/ingredients__img-2.png" alt="">
					</div>
					<h4 class="ingredients__name">Экстракт таиландского женьшеня</h4>
					<p class="ingredients__desc">Восстанавливает работу вен, предотвращает рецидивы болезни</p>
				</li>
				<li class="ingredients__item">
					<div class="ingredients__img ingredients__img-3">
						<img  src="./img/ingredients__img-3.png" alt="">
					</div>
					<h4 class="ingredients__name">Розмарин лекарственный</h4>
					<p class="ingredients__desc">Предотвращает судороги, стимулирует здоровое кровообращение</p>
				</li>
			</ul>
			<div class="ingredients__conclusion">
				<p><b>Формула Вариуса помогает добиться максимального эффекта
<span class="nowrap">и вернуть</span> красоту ваших ног!</b></p>
			</div>
		</div>
	</div>
</section>