<section class="components block" id="components">
	<div class="container">
		<h2 class="title">Состав крема Varius <span class="green nowrap">полностью натуральный</span></h2>
		<p class="components__subtitle">При производстве используются новые технологии,
			<br>которые позволяют получать максимально концентрированные <b class="nowrap">экстракты женьшеня</b></p>
			<h3 class="components__ginseng">Экстракт женьшеня — <span>один из мощнейших природных антиоксидантов, незаменимых при варикозе</span></h3>
		<div class="components__effects">
			<ul class="components__list">
				<li class="components__item">
					<b>Помогает укрепить вены <br>и сосуды</b>
				</li>
				<li class="components__item">
					<b>Снимает <br>воспаления</b>
				</li>
				<li class="components__item">
					<b>Улучшает <br>микроциркуляцию крови</b>
				</li>
				<li class="components__item">
					<b>Уменьшает <br>тяжесть в ногах</b>
				</li>
				<li class="components__item">
					<b>Останавливает <br>разрушающее действие <br>свободных радикалов</b>
				</li>
				<li class="components__item">
					<b>Помогает снять <br>боль</b>
				</li>
				<li class="components__item">
					<b>Предотвращает набухание <br>и выпирание вен под кожей</b>
				</li>
				<li class="components__item">
					<b>Увлажняет и питает <br>кожу ног</b>
				</li>
				
				
				
			</ul>
			<div class="components__effects-img">
				<img src="./img/components__effects.jpg" alt="">
			</div>
		</div>
		<div class="ingredients">
			<h3 class="ingredients__title">Дополнительные ингредиенты <br>усиливают действие крема</h3>
			<ul class="ingredients__list">
				<li class="ingredients__item">
					<div class="ingredients__img ingredients__img-1">
						<img  src="./img/ingredients__img-1.jpg" alt="">
					</div>
					<h4 class="ingredients__name">Тайский черный имбирь</h4>
					<p class="ingredients__desc">Улучшает циркуляцию крови, оказывает противовоспалительное действие</p>
				</li>
				<li class="ingredients__item">
					<div class="ingredients__img ingredients__img-2">
						<img  src="./img/ingredients__img-2.jpg" alt="">
					</div>
					<h4 class="ingredients__name">Ромашка аптечная</h4>
					<p class="ingredients__desc">Снимает воспаления и боль, снимает усталость ног</p>
				</li>
				<li class="ingredients__item">
					<div class="ingredients__img ingredients__img-3">
						<img  src="./img/ingredients__img-3.png" alt="">
					</div>
					<h4 class="ingredients__name">Розмарин лекарственный</h4>
					<p class="ingredients__desc">Укрепляет капилляры, стимулирует здоровое кровообращение</p>
				</li>
			</ul>
			<div class="ingredients__conclusion">
				<p><b>Формула Varius помогает добиться максимального эффекта
<span class="nowrap">и вернуть</span> красоту ваших ног!</b></p>
			</div>
		</div>
	</div>
</section>