<section class="delivery block" id="delivery">
	<div class="container">
		<h2 class="title">Закажите доставку <br>Varius</h2>
		<div class="delivery__list">
			<div class="delivery__item">
				<div class="delivery__img">
					<div class="delivery__clip-img">
						<img src="img/delivery-1.png" alt="">
					</div>
				</div>
				<div class="delivery__text">
					<h3 class="delivery__head">Заполните <br>форму</h3>
					<p class="delivery__desc">Вам нужно указать только свое имя <span class="nowrap">и номер</span> телефона</p>
				</div>
			</div>
			<div class=" animationarrow delivery__item">
				<div class="delivery__img">
					<div class="delivery__clip-img">
						<img src="img/delivery-2.png" alt="">
					</div>
				</div>
				<div class="delivery__text">
					<h3 class="delivery__head">Ответьте на звонок <br>оператора</h3>
					<p class="delivery__desc">Он уточнит ваши адресные данные <span class="nowrap">и ответы</span> на все вопросы о продукте</p>
				</div>
			</div>
			<div class=" delivery__item">
				<div class="delivery__img">
					<div class="delivery__clip-img">
						<img src="img/delivery-3.png" alt="">
					</div>
				</div>
				<div class="delivery__text">
					<h3 class="delivery__head">Оплатите посылку <br>при получении</h3>
					<p class="delivery__desc">Вы платите за Varius только после получения</p>
				</div>
			</div>
		</div>
		<div class="delivery__conclusion">
			<p><b>Формула Varius помогает добиться максимального эффекта — избавиться от варикоза и вернуть красоту ваших ног!</b></p>
		</div>
	</div>
</section>