<header class="header">
	<div class="container">
		<div class="header-content">
			<img src="img/logo.png" alt="Varius" class="logo">
			<div class="girl"><img src="img/header-girl.png" alt="girl"></div>
			<ul class="header-nav">
				<li class="header-nav__list"><a href="#components">Состав</a></li>
				<li class="header-nav__list"><a href="#reviews">Отзывы</a></li>
				<li class="header-nav__list"><a href="#delivery">Оплата и доставка</a></li>
			</ul>
			<h1 class="header-title">Крем <span class="green">от варикоза</span></h1>
			<div class="header-subtitle">на основе концентрированного экстракта каштана</div>
			<div class="header-boxs">
				<div class="header-boxs__pack">
					<img class="header-pack" src="img/pack.png" alt="Varius">
					<img src="img/branch.png" alt="branch" class="header-branch">
					<img src="img/branch-2.png" alt="branch" class="header-branch2">
				</div>
				<ul class="header-edge">
					<li class="header-edge__list">Облегчение боли<br> и симптомов</li>
					<li class="header-edge__list">Заметное улучшение<br> за 1 курс</li>
					<li class="header-edge__list hel3">Натуральный состав</li>
					<li class="header-edge__last">Мощный антиоксидант</li>
				</ul>
				<div class="form">
					<div class="form-title">Закажите сейчас <br><span class="orange">по Акции</span></div>
					<div class="price">
						<div class="price-old">
							<div class="price-old__title">Старая цена</div>
							<div class="price-old__count">
								<span class="x_price_previous">1999</span><span class="x_currency">руб</span><span class="star">.</span>
							</div>
						</div>
						<div class="price-new">
							<div class="price-new__title">Ваша цена</div>
							<div class="price-new__count">
								<span class="x_price_current">990</span><span class="x_currency">руб</span><span class="star">*</span>
							</div>
						</div>
					</div>
					<div class="form-line"></div>
					<div class="form-timer__title">Осталось до конца<br>
						акции</div>
					<div class="form-timer">
						<div class="form-timer__hours">
							<span class="hours">0</span>
							<span class="hours">0</span>
						</div>
						<div class="form-timer__minutes">
							<span class="minutes">4</span>
							<span class="minutes">5</span>
						</div>
						<div class="form-timer__seconds">
							<span class="seconds">0</span>
							<span class="seconds">3</span>
						</div>
					</div>
					<div class="btn ever-popup-btn">Заказать</div>
					<div class="info-price">* при заказе курса</div>
				</div>
			</div>
		</div>
	</div>
</header>
