<div class="fix-menu">
	<div class="fix-menu-contaniner container">
		<img src="img/logo.png" alt="Varius" class="fixLogo">
		<ul class="header-nav">
			<li class="header-nav__list"><a href="#components">Состав</a></li>
			<li class="header-nav__list"><a href="#reviews">Отзывы</a></li>
			<li class="header-nav__list"><a href="#delivery">Оплата и доставка</a></li>
		</ul>
		<div class="header-nav__btn ever-popup-btn">Заказать</div>
	</div>
</div>


<div class="mob-navbar navbar-hide">
	<a href="#" class="toggle-mnu" id="toggle-mnu"><span></span></a>
	<div class="navbar__wrap">
		<div class="navbar__logo"><img src="img/logo.png" alt="Varius" class="moblogo"></div>
		<div class="mob-line"></div>
		<nav class="menu">
			<ul class="menu__list">
				<li class="header-nav__list"><a href="#components">Состав</a></li>
			<li class="header-nav__list"><a href="#reviews">Отзывы</a></li>
			<li class="header-nav__list"><a href="#delivery">Оплата и доставка</a></li>
			</ul>
		</nav>
		<div class="mob-line"></div>
		<div class="header-nav__btn ever-popup-btn">Заказать</div>
	</div>
</div>