<section class="op block">
	<div class="container">
		<div class="op-content">
				<div class="op-content__img"><img src="img/op.jpg" alt="operation"></div>
				<div class="left-column">
					<h2 class="op-content__title title">Если вовремя не начать
						лечение — необходима будет <span class="red">дорогостоящая операция</span></h2>
						<div class="op-content__subtitle">Операция может привести к осложнениям.
							Период восстановления после операции – <span class="wrap">2-3 месяца</span>.</div>
							<div class="btn ever-popup-btn">Попробовать Вариус</div>
				</div>
		</div>
	</div>
</section>