<div class="ever-popup-build">
		<div class="my-popup" id="cloneThis">
			<div class="popup">
				<img src="img/logo.png" alt="Varius" class="logo">
				<div class="popup__prod">
					<img src="./img/pack.png" alt="" class="popup__pack">
					<img src="img/branch.png" alt="branch" class="popup__branch">
					<img src="img/branch-2.png" alt="branch" class="popup__branch-2">
				</div>
				<div class="popup__form">
					<div class="form">
				<div class="form-bg">
						<div class="form-title">Успейте заказать<br> со скидкой<br> <span class="orange">до <span class="date-0">16.01.2019</span></span></div>
						<div class="price">
							<div class="price-old">
								<div class="price-old__title">Старая цена</div>
								<div class="price-old__count">
									<span class="x_price_previous">1999</span><span class="x_currency">руб</span><span class="star"></span>
								</div>
							</div>
							<div class="price-new">
								<div class="price-new__title">Новая цена</div>
								<div class="price-new__count">
									<span class="x_price_current">990</span><span class="x_currency">руб</span><span class="star"></span>
								</div>
							</div>
						</div>
						<div class="form-packCount">Осталось упаковок<br>
							со скидкой: <span class="lastpack">15</span></div>
				</div>
				<form action="/submit" method="post" class="x_order_form form__cont">
					<div class="form__input-name"><input type="text" name="name" placeholder="Моё имя" required="" autocomplete="name" class="form__input"></div>
					<div class="form__input-phone"><input type="tel" name="phone" placeholder="Мой телефон" required="" autocomplete="tel" class="form__input"></div>
					<button type="submit" class="form__btn">Заказать <span class="form__btn_size">со
							скидкой<span></span></span></button>
				</form>
				<p class="form__bottom">Оплата после получения</p>
			</div>
				</div>
			</div>
		</div>
	</div>