<div class="ever-popup-build">
		<div class="my-popup" id="cloneThis">
			<div class="popup">
				<div class="popup__prod">
					<img src="./img/pack.png" alt="">
				</div>
				<div class="popup__form">
					<div class="form">
					<div class="form-title">Закажите сейчас <br><span class="orange">по Акции</span></div>
					<div class="price">
						<div class="price-old">
							<div class="price-old__title">Старая цена</div>
							<div class="price-old__count">
								<span class="x_price_previous">1999</span><span class="x_currency">руб</span><span class="star">.</span>
							</div>
						</div>
						<div class="price-new">
							<div class="price-new__title">Ваша цена</div>
							<div class="price-new__count">
								<span class="x_price_current">990</span><span class="x_currency">руб</span><span class="star">*</span>
							</div>
						</div>
					</div>
					<div class="form-line"></div>
					<div class="form-timer__title">Осталось до конца<br>
						акции</div>
					<div class="form-timer">
						<div class="form-timer__hours">
							<span class="hours">0</span>
							<span class="hours">0</span>
						</div>
						<div class="form-timer__minutes">
							<span class="minutes">1</span>
							<span class="minutes">7</span>
						</div>
						<div class="form-timer__seconds">
							<span class="seconds">1</span>
							<span class="seconds">8</span>
						</div>
					</div>
					<div class="btn ever-popup-btn">Заказать</div>
					<div class="info-price">* при заказе курса</div>
				</div>
				</div>
			</div>
		</div>
	</div>