<section class="reviews block" id="reviews">
	<div class="container">
		<h2 class="title">Отзывы людей, <br>которые уже попробовали Varius</h2>
		<div class="reviews__list">
			<div class="reviews__item">
				<div class="reviews__img">
					<div class="reviews__img-clip">	
						<img src="./img/reviews__img-1.jpg" alt="">
					</div>
				</div>
				<p class="reviews__head">Привела ноги в порядок</p>
				<p class="reviews__text">У меня стоячая работа и вечером ноги просто отваливались. Ощущение тяжести в ногах,<br>
				<span class="nowrap">а по ночам</span> судороги икроножных мышц. Так и жила, пока<br> <span class="nowrap">не попробовала</span> крем Varius.<br> <span class="nowrap">Стала пользоваться</span> им каждый
				день и скоро заметила, что под вечер <b>ноги не так болят, как раньше и вены стали не такими заметными.</b> Если у кого-то будут такие<br> <span class="nowrap">же проблемы</span> - обязательно порекомендую Вариус.</p>
				<div class="reviews__result">
					<div class="reviews__before">
						<img class="reviews__before-img" src="./img/reviews__before-1.jpg" alt="">
						<p class="reviews__caption">до</p>
					</div>
					<div class="reviews__after">
						<img class="reviews__after-img" src="./img/reviews__after-1.jpg" alt="">
						<p class="reviews__caption">после</p>
					</div>
				</div>
			</div>
			<div class="reviews__item">
				<div class="reviews__img">
					<div class="reviews__img-clip">	
						<img src="./img/reviews__img-2.jpg" alt="">
					</div>
				</div>
				<p class="reviews__head">Снова могу носить юбки</p>
				<p class="reviews__text">Варикоз у меня начался после беременности и родов. Если ноги сильно начинали болеть,<br> <span class="nowrap">я пользовалась</span> компрессом<br> <span class="nowrap">из трав разных.</span> Они помогали,<br> <span class="nowrap">но не очень</span> - вены так и оставались синими. Прочитала про крем<br> <span class="nowrap">Varius в журнале</span> и решила попробовать, так как надоело ходить в штанах. <b>Постепенно<br> <span class="nowrap">вены пришли</span> в норму.</b> Я очень довольна, теперь могу носить<br> юбки.</p>
				<div class="reviews__result">
					<div class="reviews__before">
						<img class="reviews__before-img" src="./img/reviews__before-2.jpg" alt="">
						<p class="reviews__caption">до</p>
					</div>
					<div class="reviews__after">
						<img class="reviews__after-img" src="./img/reviews__after-2.jpg" alt="">
						<p class="reviews__caption">после</p>
					</div>
				</div>
			</div>
			<div class="reviews__item">
				<div class="reviews__img">
					<div class="reviews__img-clip">	
						<img src="./img/reviews__img-3.jpg" alt="">
					</div>
				</div>
				<p class="reviews__head">Все звездочки ушли</p>
				<p class="reviews__text">Два месяца назад у меня стали появляться на бедрах венозные звездочки. А у меня к варикозу наследственная склонность,<br> <span class="nowrap">так что я стала</span> сразу искать средство. Знакомая косметолог посоветовала Varius, специальный крем от варикоза. Я попробовала его и заметила, что не только <b>звездочки стали пропадать,<br> <span class="nowrap">но и сама</span> кожа стала лучше выглядеть, более здоровой<br> <span class="nowrap">и гладкой.</span></b></p>
				<div class="reviews__result">
					<div class="reviews__before">
						<img class="reviews__before-img" src="./img/reviews__before-3.jpg" alt="">
						<p class="reviews__caption">до</p>
					</div>
					<div class="reviews__after">
						<img class="reviews__after-img" src="./img/reviews__after-3.jpg" alt="">
						<p class="reviews__caption">после</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>