<section class="sequela block">
	<div class="container">
		<h2 class="title">Осложнения при варикозе случаются<br>
			у <span class="red">8 из 10</span> женщин</h2>
		<div class="sequela-stat">
			Около 218 млн. женщин всего мира<br>
			страдают от варикозного расширения вен
		</div>
		<div class="sequela-content">
			<div class="sequela-content-box">
				<div class="sequela-persent">
					<div class="sequela-persent-count sequela-persent-count1">	<strong></strong></div>
				</div>
				<div class="sequela-text">
					случаев варикоза — случаются трофические язвы
				</div>
			</div>
			<div class="sequela-content-box">
				<div class="sequela-persent">
					<div class="sequela-persent-count sequela-persent-count2">
					
							<strong></strong>
						
					</div>
				</div>
				<div class="sequela-text">
					случаев варикоза — возникает дерматит
					и экземы

				</div>
			</div>
			<div class="sequela-content-box">
				<div class="sequela-persent">
					<div class="sequela-persent-count sequela-persent-count3">	<strong></strong></div>
				</div>
				<div class="sequela-text">
					случаев варикоза — в венах образовываются опасные для жизни тромбы

				</div>
			</div>
			<div class="sequela-content-box">
				<div class="sequela-persent">
					<div class="sequela-persent-count sequela-persent-count4">	<strong></strong></div>
				</div>
				<div class="sequela-text">
					случаев варикоза — проходят<br>
					без последствий
				</div>
			</div>
		</div>
		<div class="sequela-attention">Варикоз - опасная и серьезная болезнь, которая постоянно прогрессирует!
		</div>
		<div class="btn">Заказать Вариус</div>
	</div>
</section>