<section class="sing block">
	<div class="container">
		<h2 class="title">Продиагностируйте себя</h2>
			<div class="sing-content">
					<div class="sing-content-box">
						<div class="sing-content-box__img"><img src="img/sing-1.png" alt="sing-1"></div>
						<div class="sing-content-box__text">Вы чувствуете тяжесть, зуд<br>
							в голенях, тепло или жар в ногах, судороги
							</div>
					</div>
					<div class="sing-content-box animationarrow">
						<div class="sing-content-box__img"><img src="img/sing-2.png" alt="sing-2"></div>
						<div class="sing-content-box__text">Вы видите голубоватые<br>
							или вздувшиеся вены на ногах, сосудистые “звездочки”
							</div>
					</div>
					<div class="sing-content-box">
						<div class="sing-content-box__img"><img src="img/sing-3.png" alt="sing-3"></div>
						<div class="sing-content-box__text">Вам кажется, что раньше ранки заживали быстрее, у вас<br> потемнели участки кожи</div>
					</div>
			</div>
			<div class="sing-attantion">Любой из этих симптомов - тревожный знак варикоза</div>
	</div>
</section>