<section class="stat block">
	<div class="container">
		<h2 class="title">По статистике, собранной в ходе испытаний<br>
			Varius <span class="black">среди 6420 добровольцев</span></h2>
			<div class="stat-content">
					<div class="stat-box">
							<div class="stat-box__persent">20,1%</div>
							<p class="stat-box__text">участников отметили значительное, <br>хоть и не абсолютное улучшение
								</p>
					</div>
					<div class="stat-box">
						<div class="stat-box__persent sgreen">78,7%</div>
						<p class="stat-box__text">участников быстро <br>избавились от боли и симптомов варикоза							
							</p>
				</div>
				<div class="stat-box">
					<div class="stat-box__persent bgreen">81%</div>
					<p class="stat-box__text">участников отметили, что будут рекомендовать средство людям <br>с аналогичными проблемами						
						</p>
			</div>
			</div>
			<div class="stat-subtitle">Результаты могут быть индивидуальны</div>
	</div>
</section>