<section class="trouble block">
	<div class="container">
		 <h2 class="title">Что будет если запустить варикоз?</h2>
		 <div class="trouble-content">
			 		<div class="trouble-box">
						 	<div class="trouble-box__img">
								 	<img src="img/trouble-1.png" alt="trouble">
							 </div>
							 <div class="trouble-box__name">Дерматит и экзема</div>
							 <p class="trouble-box__sub">Сильные воспаления на коже<br>
								 в области голени. Зуд, раздражения, образование на коже ран.</p>
					 </div>
					 <div class="trouble-box">
						<div class="trouble-box__img two">
								<img src="img/trouble-2.png" alt="trouble">
						</div>
						<div class="trouble-box__name">Трофическая язва</div>
						<p class="trouble-box__sub">Появление на голени незаживающих ран. Повышенная температура<br>
							и слабость во всем теле.
							</p>
				</div>
				<div class="trouble-box">
					<div class="trouble-box__img three">
							<img src="img/trouble-3.png" alt="trouble">
					</div>
					<div class="trouble-box__name">Тромбофлебит</div>
					<p class="trouble-box__sub">Образование крупных тромбов в венах. Сильные боли при ходьбе, при стоянии. Оторвавшийся тромб может попасть
						в легкие.</p>
			</div>
		 </div>
		 <div class="trouble-attention">Зачем подвергать себя опасности, если есть простое средство от варикоза?</div>
	</div>
</section>