.acme {
	background: url(../img/header-bg.jpg) no-repeat top, linear-gradient(to left, #d3dfee 0%, #ffffff 52%, #edd3e4 100%);
	padding-top: 100px;
	padding-bottom: 0px;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		top: -102px;
		left: 50%;
		transform: translateX(-50%);
		background: url(../img/before.png) center;
		width: 100%;
		height: 143px;
		z-index: 1;
	}

	&:after {
		content: "";
		position: absolute;
		bottom: -92px;
		left: 50%;
		transform: translateX(-50%);
		background: url(../img/after.png) center;
		width: 100%;
		height: 143px;
		z-index: 1;
	}

	.container {
		position: relative;
	}

	.girl {
		position: absolute;
		left: 50%;
		transform: translateX(-109.5%);
		bottom: -8px;
		z-index: 3;
	}

	&-content {
		display: flex;
		justify-content: flex-end;
		padding-bottom: 110px;
	}

	&-edge {
		width: 380px;
		margin-right: 25px;
	}

	&-title {


		color: #222222;
		font-size: 66px;
		font-weight: 900;
		line-height: 60px;
	}

	&-subtitle {
		color: #000000;
		font-size: 24px;
		font-weight: 500;
		line-height: 28px;
		margin-top: 13px;
		margin-bottom: 30px;
	}

	.hel3 {
		margin-top: 36px;
	}
	.header-pack{
		bottom: -222px;
	}
	.header-branch2{
		bottom: -138px;
	}
	.header-branch{
		bottom: -103px;
	}
}

@media (max-width: 1255px) {
	.form:after {
		display: none;
	}
}


@media screen and (max-width: 1199px) {
	.acme {
		position: relative;
		z-index: 4;
		.girl {
			width: 750px;
			transform: translateX(-117.5%);
			img {
				width: 100%;
			}
		}
		&-pack {
			position: absolute;
			bottom: -166px;
			right: -164px;
			width: 495px;
			height: auto;
			z-index: 6;
		}
		&-content{
			padding-bottom: 25px;
			margin-top: 40px;
		}
		&-edge{
			width: 330px;
			margin-right: 25px;
		}
		&-title{
			font-size: 56px;
			line-height: 56px;
		}
		&-subtitle{
			font-size: 22px;
			line-height: normal;
			margin-top: 10px;
    margin-bottom: 25px;
		}
		.hel3 {
			margin-top: 30px;
	}
	.header-branch {
    bottom: -50px;
}
 .header-pack {
	bottom: -162px;
}
.header-branch2 {
	bottom: -90px;
}
	}
}
@media (max-width: 1023px) {
	.acme {
		background: url(../img/bg-2.jpg) no-repeat top, linear-gradient(to left, #d3dfee 0%, #ffffff 52%, #edd3e4 100%);
		background-size: cover;
		&:before,&:after{
			display: none;
		}
		.girl {
			display: none;
		
		}
		.form{
			order: 2;
		}
		&-content{
			padding-bottom: 0px;
			margin-top: 0px;
			flex-wrap: wrap;
			align-items: center;
		}
		&-edge{
			margin-right: 0px;
    width: 100%;
  

    display: flex;
			flex-wrap: wrap;
    justify-content: center;
    padding-top: 0px;
			order: 1;
			margin-bottom: 10px;
		}
		&-title{
			font-size: 52px;
			line-height: 52px;
			width: 100%;
			text-align: center;
			br{
				display: none;
			}
		}
		&-subtitle{
			font-size: 21px;
			line-height: normal;
			margin-top: 7px;
		margin-bottom: 20px;
		text-align: center;
		width: 100%;
		}
		.hel3 {
			margin-top: 0px;
			display: flex;
    align-items: center;
	}
	.header-boxs__pack{
		width: 62%;
	}
	}
}
@media (max-width: 767px) {
	.acme {
		background: url(../img/bg-2.jpg) no-repeat top, linear-gradient(to left, #d3dfee 0%, #ffffff 52%, #edd3e4 100%);
		background-size: cover;
		&:before,&:after{
			display: none;
		}
		.girl {
			display: none;
		
		}
		.form{
			order: 2;
		}
		&-content{
			padding-bottom: 0px;
			margin-top: 0px;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
		}
		&-edge{
			margin-right: 0px;
    width: 100%;
  align-items: center;

    display: flex;
			flex-wrap: wrap;
    justify-content: center;
    padding-top: 0px;
			order: 1;
			margin-bottom: 10px;
		}
		&-title{
			font-size:46px;
			line-height: 46px;
			width: 100%;
			text-align: center;
			br{
				display: none;
			}
		}
		&-subtitle{
			font-size: 20px;
			line-height: normal;
			margin-top: 5px;
		margin-bottom: 20px;
		text-align: center;
		width: 100%;
		}
		.hel3 {
			margin-top: 0px;
			display: flex;
    align-items: center;
	}
	.header-boxs__pack{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		img{
			width: 400px;
			max-width: 100%;
			margin-right: auto;
			margin-left: auto;
		}
	}
	.header-edge__list{
		width: 230px;
	}
	}
}
@media (max-width: 400px){
.acme-subtitle {
    font-size: 18px;
}
.acme-title {
	font-size: 34px;
}
}