.certificates {
	min-height: 935px;
	padding-top: 116px;
	padding-bottom: 115px;
	background: url(../img/bg-2.jpg) no-repeat top, linear-gradient(to left, #d3dfee 0%, #ffffff 52%, #edd3e4 100%);
	background-position: 50% -101px;
	position: relative;
	&::before {
		content: "";
	    position: absolute;
	    top: -102px;
	    left: 50%;
	    transform: translateX(-50%);
	    background: url(../img/before.png) center;
	    width: 100%;
	    height: 143px;
	    z-index: 1;
	}
	&::after {
		content: "";
	    position: absolute;
	    bottom: 0;
	    left: 50%;
	    transform: translateX(-50%);
	    background: url(../img/after.png) center;
	    width: 100%;
	    height: 143px;
	    z-index: 1;
	}
	.btn {
		max-width: 280px;
		margin-left: auto;
		margin-right: auto;
		border: none;
		border-bottom: 6px solid #e46324;
	}
}

@media screen and (max-width: 1199px) {
	.certificates {
		&.block {
			padding-top: 92px;
		}
	}
}
@media (max-width: 1023px) {
	.certificates {	
		min-height: auto;
		&::before,
		&::after {
			display: none;
		}
		&.block {
			padding: 40px 0;
		}
	}
}

@media (max-width: 767px) {
	.certificates {
		&.block {
			padding: 30px 0;
		}
	}
}

@media screen and (max-width: 639px) {
	.certificates {
		&.block {
			padding: 25px 0;
		}
	}
}