.components {
	padding-top: 100px;
	.title {
		padding: 0 300px;
	}
	&__subtitle {
		text-align: center;
		font-size: 22px;
		line-height: 1.37;
		margin-top: 16px;
		color: #444;
		b {
			color: #222;
		}
	}
	&__effects {
		position: relative;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		margin-top: 22px;
		justify-content: flex-start;
	}
	&__item {
		text-align: center;
		font-size: 20px;
		line-height: 1.2;
		width: 50%;
		display: flex;
		justify-content: center;
		position: relative;
		&:first-of-type {
			width: 100%;
			margin-top: 0;
			margin-bottom: 53px;
		}
		&:last-of-type {
			width: 100%;
			margin-top: 53px;
		}
		&:nth-of-type(4),
		&:nth-of-type(5) {
			margin-top: 86px;
			margin-bottom: 108px;
		}
		&:nth-of-type(4) {
			justify-content: flex-start;
			padding-left: 112px;
		}
		&:nth-of-type(5) {
			justify-content: flex-end;
			padding-right: 12px;
		}
		&:nth-of-type(7) {
			justify-content: flex-end;
			padding-right: 45px;
		}
		&:nth-of-type(3) {
			padding-left: 20px;
		}
	}
	// lines before and after
	&__item {
		b {
			position: relative;
			&::before {
			content: '';
			display: block;
			position: absolute;
			height: 8px;
			width: 8px;
			background-color: #92b069;
			border-radius: 50%;
			z-index: 2;
			}
			&::after {
				content: '';
				display: block;
				position: absolute;
				z-index: 1;
			}
		}
		&:nth-of-type(2),
		&:nth-of-type(3),
		&:nth-of-type(6),
		&:nth-of-type(7) {
			b:after {
				background-image: url(../img/components__line.png);
				background-repeat: no-repeat;
				height: 9px;
				width: 71px;
				background-position: 100% 50%;
			}
		}
		&:nth-of-type(1) {
			b:before {
				left: 50%;
				bottom: -12px;
				transform: translateX(-50%);
			}
			b:after {
				width: 1px;
				height: 27px;
				background-color: #e3d1c1;
				left: 50%;
				bottom: -10px;
				transform: translateX(-50%) translateY(100%);
			}
		}
		&:nth-of-type(2) {
			b:before {
				top: 24px;
				right: -25px;
				transform: translateY(-50%);
			}
			b:after {
				top: 50%;
				right: -95px;
			}
		}
		&:nth-of-type(3) {
			b:before {
				top: 50%;
				left: -35px;
				transform: translateY(-50%);
			}
			b:after {
				top: 50%;
				left: -106px;
				transform: scaleX(-1);
			}
		}
		&:nth-of-type(4) {
			b:before {
				right: -24px;
				top: 27px;
				transform: translateY(-50%);
			}
			b:after {
				width: 116px;
				height: 1px;
				background-color: #e3d1c1;
				right: -21px;
				top: 27px;
				transform: translateX(100%);
			}
		}
		&:nth-of-type(5) {
			b:before {
				left: -28px;
				top: 27px;
				transform: translateY(-50%);
			}
			b:after {
				width: 115px;
				height: 1px;
				background-color: #e3d1c1;
				left: -24px;
				top: 27px;
				transform: translateX(-100%) translateY(50%);
			}
		}
		&:nth-of-type(6) {
			b:before {
				top: 22px;
				right: -17px;
				transform: translateY(-50%);
			}
			b:after {
				top: 14px;
				right: -88px;
				transform: scaleY(-1);
			}
		}
		&:nth-of-type(7) {
			b:before {
				top: 22px;
				left: -38px;
				transform: translateY(-50%);
			}
			b:after {
				top: 14px;
				left: -108px;
				transform: scaleY(-1) scaleX(-1);
			}
		}
		&:last-of-type {
			b:before {
				left: 50%;
				top: -12px;
				transform: translateX(-50%);
			}
			b:after {
				width: 1px;
				height: 27px;
				background-color: #e3d1c1;
				left: 50%;
				top: -10px;
				transform: translateX(-50%) translateY(-100%);
			}
		}
	}
	&__effects-img {
		height: 350px;
		width: 350px;
		border-radius: 50%;
		position: absolute;
		overflow: hidden;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		// border: 10px solid #e3edd2;
		box-shadow: 0 0 0 10px #e3edd2, 0 0 0 27px #f7faf1;
		img {
			position: absolute;
			left: 53.8%;
    		top: 49.5%;
			transform: translateX(-50%) translateY(-50%);
		}
	}

}
.ingredients {
	margin-top: 45px;
	text-align: center;
	position: relative;
	&::before {
		content: '';
		display: block;
		position: absolute;
		height: 1px;
		width: 100%;
		background-color: #e3d1c1;
		top: 33px;
	}
	&__title {
		line-height: 1.17;
		font-size: 24px;
		// width: 430px;
		// margin-left: auto;
		// margin-right: auto;
		background-color: #fff;
		display: inline-block;
		padding: 18px 33px;
		padding-bottom: 0;
		border: 1px solid #e3d1c1;
		border-bottom: none;
		border-radius: 6px;
		position: relative;
		z-index: 1;
		&::before {
			content: '';
			display: block;
			position: absolute;
			width: 104%;
			background-color: inherit;
			height: calc(100% - 33px);
			z-index: -1;
			left: 50%;
			bottom: 0;
			transform: translateX(-50%);
		}
	}
	&__list {
		display: flex;
		justify-content: space-between;
		padding: 0 8px;
		
	}
	&__item {
		max-width: 370px;
	}
	&__img {
		height: 135px;
		position: relative;
		margin-bottom: 20px;
		img {
			position: absolute;
		}
	}
	&__img-1 {
		img {
		    top: 11px;
    		left: 108px;
		}
	}
	&__img-2 {
		img {
			top: 32px;
			left: 50px;
		}
	}
	&__img-3 {
		img {
		    top: -8px;
   		 	left: 84px;
		}
	}
	&__name {
		font-size: 22px;
		line-height: 1.1;
		color: #222;
	}
	&__desc {
		font-size: 18px;
		line-height: 1.45;
		margin-top: 11px;
		color: #444;
	}
	&__conclusion {
		margin-top: 43px;
		border-radius: 6px;
		border: 3px solid #92b069;
		font-size: 24px;
		line-height: 1.17;
		padding: 17px 150px;
		width: 100%;
		max-width: 1030px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		&::before {
			content: '';
			display: block;
			position: absolute;
			height: 20px;
			background-color: #fff;
			width: 20px;
			border: 4px solid #92b069;
			left: 50%;
			top: -2px;
			transform: translateX(-50%) translateY(-50%) scaleY(0.6) rotate(45deg);
			border-right: none; 
			border-bottom: none;
		}
		b {
			font-weight: 700;
		}
	}
}


@media screen and (max-width: 1199px) {
	.components {
		.title {
			padding: 0 200px;
		}
		&__subtitle {
			font-size: 20px;
			margin-top: 10px;
		}
		&__item {
			font-size: 19px;
			&:nth-of-type(1) {
				b:after {	
					bottom: -4px;
				}
			}
			&:nth-of-type(2),
			&:nth-of-type(3),
			&:nth-of-type(6),
			&:nth-of-type(7) {
				b::after {
					width: 50px;
				}
			}
			&:nth-of-type(2) {
				justify-content: flex-start;
				padding-left: 172px;
				b::before {
					right: -16px;
					top: 23px;
				}
				b::after {
					top: 22px;
					right: -62px;
				}
			}
			&:nth-of-type(3) {
				justify-content: flex-end;
				padding-right: 172px;
				b::before {
					top: 23px;
					left: -20px;
				}
				b::after {
					top: 22px;
					left: -67px;
				}
			}
			&:nth-of-type(4) {
				padding-left: 100px;
				b::before {
					top: 27px;
				}
				b::after {
					width: 61px;
				}
			}
			&:nth-of-type(5) {
				padding-right: 0px;
				b::before {
					top: 28px;
				}
				b::after {
					width: 57px;
				}
			}
			&:nth-of-type(6) {
				justify-content: flex-start;
				padding-left: 160px;
				b::after {
					right: -65px;
				}
			}
			&:nth-of-type(7) {
				justify-content: flex-end;
				padding-right: 10px;
				b::before {
					left: -28px;
				}
				b::after {
					left: -74px;
				}
			}
			&:last-of-type {
				b:after {	
					top: -4px;
				}
			}
		}
	}
	.ingredients {
		&__title {
			font-size: 22px;
			padding: 16px 30px;
			padding-bottom: 0;
		}
		&__name {
			font-size: 20px;
		}
		&__desc {
			font-size: 17px;
			margin-top: 8px;
		}
		&__conclusion {
			font-size: 22px;
		    padding: 17px 96px;
		    max-width: 880px;
		    margin-top: 36px;
		}
	}
}


@media (max-width: 1023px) {
	.components {
		.title {
			padding: 0 90px;
		}
		&__subtitle {
			font-size: 18px;
			margin-top: 6px;
		}
		&__item {
			font-size: 17px;
			align-items: center;
			&:nth-of-type(4), 
			&:nth-of-type(5) {
				margin-top: 60px;
    			margin-bottom: 60px;
			}
			&:nth-of-type(1) {
				margin-bottom: 30px;
				br {
					display: none;
				}
				b::before {
					bottom: -11px;
				}
				b:after {	
					bottom: -10px;
				}
			}
			&:nth-of-type(2),
			&:nth-of-type(3),
			&:nth-of-type(6),
			&:nth-of-type(7) {
				b::after {
					width: 30px;
				}
			}
			&:nth-of-type(2) {
				padding-left: 118px;
				br {
					display: none;
				}
				b::before {
					right: -8px;
				}
				b:after {	
					right: -38px;
				}
			}
			&:nth-of-type(3) {
				padding-right: 67px;
				br {
					display: none;
				}
				b::before {
					left: -13px;
				}
				b:after {	
					left: -38px;
				}
			}
			&:nth-of-type(4) {
				padding-left: 1px;
				br {
					display: none;
				}
				b::before {
					top: 13px;
					right: -18px;
				}
				b:after {	
					top: 13px;
					right: -18px;
					width: 22px;
				}
			}
			&:nth-of-type(5) {
				padding-right: 14px;
				b::before {
					left: -18px;
				}
				b:after {	
					left: -18px;
					width: 22px;
				}
			}
			&:nth-of-type(6) {
				padding-left: 104px;
				br {
					display: none;
				}
				b::before {
					right: -13px;
				}
				b:after {	
					right: -38px;
				}
			}
			&:nth-of-type(7) {
				padding-right: 4px;
				b::before {
					left: -13px;
				}
				b:after {	
					left: -38px;
				}
			}
			&:last-of-type {
				margin-top: 34px;
			}
		}
		&__effects-img {
			height: 200px;
			width: 200px;
			box-shadow: 0 0 0 8px #e3edd2, 0 0 0 20px #f7faf1;
			top: 165px;
			img {
				height: auto;
				width: 390px;
			}
		}
	}
	.ingredients {
		&__title {
			font-size: 21px;
		}
		&__name {
			font-size: 17px;
			padding: 0 26px;
		}
		&__desc {
			font-size: 15px;
			margin-top: 4px;
			line-height: 1.2;
		}
		&__img {
			margin-bottom: 5px;

			img {
				max-width: 250px;
				max-height: 130px;
				top: auto;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%) ;
			}
		}
		&__conclusion {
			font-size: 19px;
			padding: 10px 20px;
			max-width: 686px;
		}
	}
}