.components {
	padding-top: 100px;
	.title {
		padding: 0 300px;
	}
	&__subtitle {
		text-align: center;
		font-size: 22px;
		line-height: 1.37;
		margin-top: 16px;
		color: #444;
		b {
			color: #222;
		}
	}
	&__effects {
		position: relative;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		margin-top: 22px;
		justify-content: flex-start;
	}
	&__item {
		text-align: center;
		font-size: 20px;
		line-height: 1.2;
		width: 50%;
		display: flex;
		justify-content: center;
		position: relative;
		&:first-of-type {
			width: 100%;
			margin-top: 0;
			margin-bottom: 53px;
		}
		&:last-of-type {
			width: 100%;
			margin-top: 53px;
		}
		&:nth-of-type(4),
		&:nth-of-type(5) {
			margin-top: 86px;
			margin-bottom: 108px;
		}
		&:nth-of-type(4) {
			justify-content: flex-start;
			padding-left: 112px;
		}
		&:nth-of-type(5) {
			justify-content: flex-end;
			padding-right: 12px;
		}
		&:nth-of-type(7) {
			justify-content: flex-end;
			padding-right: 45px;
		}
		&:nth-of-type(3) {
			padding-left: 20px;
		}
	}
	// lines before and after
	&__item {
		b {
			position: relative;
			&::before {
			content: '';
			display: block;
			position: absolute;
			height: 8px;
			width: 8px;
			background-color: #92b069;
			border-radius: 50%;
			z-index: 2;
			}
			&::after {
				content: '';
				display: block;
				position: absolute;
				z-index: 1;
			}
		}
		&:nth-of-type(1) {
			b:before {
				left: 50%;
				bottom: -12px;
				transform: translateX(-50%);
			}
			b:after {
				width: 1px;
				height: 27px;
				background-color: #e3d1c1;
				left: 50%;
				bottom: -10px;
				transform: translateX(-50%) translateY(100%);
			}
		}
		&:last-of-type {
			b:before {
				left: 50%;
				top: -12px;
				transform: translateX(-50%);
			}
			b:after {
				width: 1px;
				height: 27px;
				background-color: #e3d1c1;
				left: 50%;
				top: -10px;
				transform: translateX(-50%) translateY(-100%);
			}
		}
		&:nth-of-type(4) {
			b:after {
				width: 116px;
				height: 1px;
				background-color: #e3d1c1;
				right: -21px;
				bottom: 50%;
				transform: translateX(100%) translateY(50%);
			}
		}
		&:nth-of-type(5) {
			b:before {
				left: -30px;
				top: 50%;
				transform: translateY(-50%);
			}
			b:after {
				width: 115px;
				height: 1px;
				background-color: #e3d1c1;
				left: -24px;
				bottom: 50%;
				transform: translateX(-100%) translateY(50%);
			}
		}
		&:nth-of-type(2),
		&:nth-of-type(4),
		&:nth-of-type(6) {
			b:before {
				top: 50%;
				right: -25px;
				transform: translateY(-50%);
			}
		}
		&:nth-of-type(3),
		&:nth-of-type(7) {
			b:before {
				top: 50%;
				left: -38px;
				transform: translateY(-50%);
			}
		}

		&:nth-of-type(2), 
		&:nth-of-type(6) {
			b:after {
				content: '';
				display: block;
				position: absolute;
				background-image: url(../img/components__line.png);
				background-repeat: no-repeat;
				height: 9px;
				width: 71px;
				top: 50%;
				right: -95px;
				// transform: translateY(-50%) translateX(100%);

			}
		} 
		&:nth-of-type(3),
		&:nth-of-type(7) {
			b:after {
				content: '';
				display: block;
				position: absolute;
				background-image: url(../img/components__line.png);
				background-repeat: no-repeat;
				height: 9px;
				width: 71px;
				top: 48%;
				left: -108px;
			}
		}
		&:nth-of-type(6) {
			b:after {
				top: 34%;
				transform: scaleY(-1);
			}
		}
		&:nth-of-type(3) {
			b:after {
				transform: scaleX(-1);
			}
		}
		&:nth-of-type(7) {
			b:after {
				transform: scaleX(-1) scaleY(-1);
				top: 31%;
			}
		}
		
	}
	&__effects-img {
		height: 350px;
		width: 350px;
		border-radius: 50%;
		position: absolute;
		overflow: hidden;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		// border: 10px solid #e3edd2;
		box-shadow: 0 0 0 10px #e3edd2, 0 0 0 27px #f7faf1;
		img {
			position: absolute;
			left: 53.8%;
    		top: 49.5%;
			transform: translateX(-50%) translateY(-50%);
		}
	}

}
.ingredients {
	margin-top: 45px;
	text-align: center;
	position: relative;
	&::before {
		content: '';
		display: block;
		position: absolute;
		height: 1px;
		width: 100%;
		background-color: #e3d1c1;
		top: 33px;
	}
	&__title {
		line-height: 1,17;
		font-size: 24px;
		// width: 430px;
		// margin-left: auto;
		// margin-right: auto;
		background-color: #fff;
		display: inline-block;
		padding: 18px 33px;
		padding-bottom: 0;
		border: 1px solid #e3d1c1;
		border-bottom: none;
		border-radius: 6px;
		position: relative;
		z-index: 1;
		&::before {
			content: '';
			display: block;
			position: absolute;
			width: 104%;
			background-color: inherit;
			height: calc(100% - 33px);
			z-index: -1;
			left: 50%;
			bottom: 0;
			transform: translateX(-50%);
		}
	}
	&__list {
		display: flex;
		justify-content: space-between;
		padding: 0 8px;
		
	}
	&__item {
		max-width: 370px;
	}
	&__img {
		height: 135px;
		position: relative;
		margin-bottom: 20px;
		img {
			position: absolute;
		}
	}
	&__img-1 {
		img {
		    top: 11px;
    		left: 108px;
		}
	}
	&__img-2 {
		img {
			top: 32px;
			left: 50px;
		}
	}
	&__img-3 {
		img {
		    top: -8px;
   		 	left: 84px;
		}
	}
	&__name {
		font-size: 22px;
		line-height: 1.1;
		color: #222;
	}
	&__desc {
		font-size: 18px;
		line-height: 1.45;
		margin-top: 11px;
		color: #444;
	}
	&__conclusion {
		margin-top: 43px;
		border-radius: 6px;
		border: 3px solid #92b069;
		font-size: 24px;
		line-height: 1.17;
		padding: 17px 150px;
		width: 100%;
		max-width: 1030px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		&::before {
			content: '';
			display: block;
			position: absolute;
			height: 20px;
			background-color: #fff;
			width: 20px;
			border: 4px solid #92b069;
			left: 50%;
			top: -2px;
			transform: translateX(-50%) translateY(-50%) scaleY(0.6) rotate(45deg);
			border-right: none; 
			border-bottom: none;
		}
		b {
			font-weight: 700;
		}
	}
}


