// fix menu
.fix-menu {
	z-index: 9999;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 0px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.07);
	background-color: #ffffff;
	display: none;
	height: 100px;
	animation: fixshow .2s linear;
}
.f-nan{
	display: block;
}
.fix-menu-contaniner {


	display: flex;
	flex-wrap: wrap;
	position: relative;

	.header-nav__list:before {
		display: none;
	}

	.header-nav {
		width: 450px;
		height: 100%;
	}

	.header-nav__list:nth-child(2):after {

		left: -46px;
		top: 20px;
		animation: none;
	}

	.header-nav__list:nth-child(3):after {

		left: -46px;
		top: 21px;
		animation: none;
	}

	.header-nav__list {
		margin-left: 0;
		padding-top: 35px;
		justify-content: center;
		align-items: center;
	}

	
}
.header-nav__btn {
	width: 180px;
	height: 50px;
	text-align: center;
	border-radius: 5px;
	border: 2px solid #fd7532;
	background-image: linear-gradient(to right, #fff 0%, #fff 50%, #fd7532 50%, #fb905c 75%, #fd7532 100%);
	background-size: 200% auto ;
	transition: all 0.3s;
	background-position: 0 0;
	color: #000000;
	font-size: 22px;
	font-weight: 500;
	line-height: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 24px;
	margin-left: 45px;
	cursor: pointer;

	&:hover {
		background-position: 100% 0;
		color: #ffffff;
		
	}
}
.fixLogo {
	position: absolute;
	left: 0;
	top: -25px;
}
.logo-wrap{
	font-size: 36px;
	position: relative;
	margin-left: -12px;
	font-weight: bold;
}
// end fix menu

//mobmenu
.mob-navbar{
	display: none;
	box-shadow: 0 0 40px rgba(0,0,0,0.1);
	position: fixed;
    width: 100%;
		height:100%;
		max-height: 250px;
		overflow: hidden;
		overflow-y: scroll;
    left: 0;
		top: 0;
		border-radius: 1px;
    z-index: 100;
    background-color: #fff;
    -webkit-transition: all .5s linear;
    -o-transition: all .5s linear;
		transition: all .5s linear;
		.menu__list{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		.header-nav__list:nth-child(3):after{
			display: none;
		}
		.header-nav__list:nth-child(2):after{
			display: none;
		}
		.header-nav__list{
			width: 180px;
			border-bottom: 1px solid #222;
			padding-top: 45px;
			margin-right: 20px;
		}
		.header-nav__list:hover{
			border-top: 5px solid transparent;
		}
		.header-nav__btn{
			
			margin: 25px auto 0;
		}
}
.moblogo{

}

.mob-line{
	width: 100%;
	height: 1px;
	background-color: #e4e4e4;
	margin-top: 15px;
}
.navbar__wrap {
	
  opacity: 1;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  padding: 5px 20px 20px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;

}
.toggle-mnu {
  display: block;
  width: 33px;
  height: 33px;
}

.toggle-mnu span:after,
.toggle-mnu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
}

.toggle-mnu span:after {
  top: 16px;
}

.toggle-mnu span {
  position: relative;
  display: block;
}

.toggle-mnu span,
.toggle-mnu span:after,
.toggle-mnu span:before {
  width: 100%;
  height: 4px;
  background-color: #fd7532;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.toggle-mnu.on span {
  background-color: transparent;
}

.toggle-mnu.on span:before {
  -ms-transform: rotate(45deg) translate(-1px, 0px);
  -webkit-transform: rotate(45deg) translate(-1px, 0px);
  transform: rotate(45deg) translate(-1px, 0px);
}

.toggle-mnu.on span:after {
  -ms-transform: rotate(-45deg) translate(6px, -7px);
  -webkit-transform: rotate(-45deg) translate(6px, -7px);
  transform: rotate(-45deg) translate(6px, -7px);
}

.toggle-mnu {
  position: absolute;
	top: 18px;
	right: 12px;
	z-index: 8;
}
.navbar-hide {
  -webkit-transition: all .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear;
  width: 56px;
	height: 54px;
	box-shadow: 0 0 40px rgba(0,0,0,0.1);
}
.navbar-hide .navbar__wrap {
  opacity: 0;
  visibility: hidden;
}
// end mobmenu
.logo-gamburger{
	width: 100px;
	margin-left: 8px;
	font-size: 36px;
	padding-top: 5px;
	font-weight: bold;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	transition: all .5s linear;
}
.del-logo{
	display: none;
	height: 0;
}
.navbar__logo{
	position: relative;
	z-index: 5;
	width: 80px;
	img{
		width: 100%;
	}
}














@media screen and (max-width: 1199px) {
	.fix-menu{
		height: 85px;
	}
	.fix-menu-contaniner .header-nav__btn{
		margin-top: 17px;
	}
	.fix-menu-contaniner .header-nav__list{
		padding-top: 28px;
	}
	.fix-menu-contaniner .header-nav__list:nth-child(3):after{
		top: 13px;
	}
	.fix-menu-contaniner .header-nav__list:nth-child(2):after{
		top: 13px;
	}
}
@media screen and (max-width: 1023px) {
	.f-nan{
		display: none;
	}
	.mob-navbar{
		display: block;
	}
	.navbar-hide {
		width: 100%;
		background-color: #fff5dd;
}
}
@media (max-width: 771px){
	.mob-navbar{
	max-height: 315px;
}
}
@media screen and (max-width: 539px) {
	.mob-navbar{
		max-height: 384px;
	}
}