.op {
	padding-top: 110px;
	padding-bottom: 70px;
	background: url(../img/bg-2.jpg) no-repeat top, linear-gradient(to left, #d3dfee 0%, #ffffff 52%, #edd3e4 100%);
position: relative;
z-index: 5;
	&:before {
		content: "";
		position: absolute;
		top: -102px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
		background: url(../img/before.png) center;
		width: 100%;
		height: 143px;
		z-index: 1;
	}

	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
		background: url(../img/after.png) center;
		width: 100%;
		height: 143px;
		z-index: 1;
	}
	&-content{
		box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
		border-radius: 5px;
		background-color: #ffffff;
		padding: 20px;
		display: flex;
		margin-top: 10px;
		margin-bottom: 165px;
		&__img{
			margin-right: 30px;
		
		}
		&__title{
			text-align: left;
			margin-top: 7px;
			font-size: 44px;
			line-height: 44px;
		}
		&__subtitle{
			color: #444444;
			font-size: 22px;
			font-weight: 500;
			line-height: 30px;
			max-width: 455px;
			margin-top: 10px;
		}
		.btn{
				margin-top: 22px;
				height: 70px;
				max-width: 335px;
				font-size: 30px;
		}
	}
}

@media (max-width: 1199px) {
	.op{
		&-content{
			margin-top: 60px;
			&__img{
				margin-right: 30px;
				width: 45%;
				img{
					width: 100%;
				}
			}
			&__title{
				text-align: left;
				margin-top: 0px;
				font-size: 36px !important;
				line-height: normal !important;
			}
			&__subtitle{
				font-size: 20px;
				line-height: normal;
				max-width: 100%;
				margin-top: 5px;
			}
			.btn{
					margin-top: 15px;
					height: 65px;
					
			}
			.left-column{
				width: 51%;
			}
		}
	}
}

@media (max-width: 1023px) {
	.op{
		&:before, &:after{
			display: none;
		}
		&-content{
			margin-top: 0px;
			margin-bottom: 0;
			flex-direction: column;
			padding: 15px;
			&__img{
				margin-right: 0px;
				width: 100%;
				order: 1;
				img{
					max-width: 500px;
					margin: 0 auto 20px;
					display: block;
				}
			}
			&__title{
				text-align: center;
				margin-top: 0px;
				font-size: 32px !important;
				line-height: normal !important;
			}
			&__subtitle{
				font-size: 19px;
				line-height: normal;
				max-width: 100%;
				margin-top: 5px;
				text-align: center;
			}
			.btn{
			

					margin: 10px auto 0;
			}
			.left-column{
				width: 100%;
				order: 2;
			}
		}
	}
}

@media (max-width: 767px) {
	.op{
		
		&-content{

			padding: 15px;
			&__img{
				margin-right: 0px;
				width: 100%;
				order: 1;
				img{
					max-width: 400px;
					margin: 0 auto 10px;
					display: block;
				}
			}
			&__title{

				margin-top: 0px;
				font-size: 29px !important;
				line-height: normal !important;
			}
			&__subtitle{
				font-size: 18px;
				margin-top: 5px;
			}
			.btn{
			

					margin: 10px auto 0;
			}
			.left-column{
			
			}
		}
	}
}

@media (max-width: 639px) {
	.op{
		
		&-content{

			padding: 20px 10px;
			&__img{
		
		
				img{
					max-width: 400px;
					margin: 0 auto 10px;
					display: block;
				}
			}
			&__title{

				margin-top: 0px;
				font-size: 26px !important;
				line-height: normal !important;
			}
			&__subtitle{
				font-size: 17px;
				margin-top: 5px;
			}
			.btn{
			font-size: 25px;

					margin: 10px auto 0;
			}
			.left-column{
			
			}
		}
	}
}