.reviews {
	padding-top: 119px;
	padding-bottom: 228px;
	margin-top: -26px;
	background: url(../img/bg-4.jpg) no-repeat top, linear-gradient(to left, #d3dfee 0%, #ffffff 52%, #edd3e4 100%);
    position: relative;
    background-position: 50% -100px;
    z-index: 5;
	&::before {
		content: "";
	    position: absolute;
	    top: -102px;
	    left: 50%;
	    -webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	    transform: translateX(-50%);
	    background: url(../img/before.png) center;
	    width: 100%;
	    height: 143px;
	    z-index: 1;
	}
	&::after {
	    content: "";
	    position: absolute;
	    bottom: 0;
	    left: 50%;
	    -webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	    transform: translateX(-50%);
	    background: url(../img/after.png) center;
	    width: 100%;
	    height: 143px;
	    z-index: 1;
	}
	&__list {
		// display: flex;
		// justify-content: space-between;
		margin-top: 33px;
	}
	.slick-list {
		padding: 10px 4px;
		padding-top: 50px;
	}
	&__item {
		text-align: center;
		max-width: 370px;
		background-color: #fff;
		border-radius: 5px;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
		border-top: 4px solid #fd7532;
		position: relative;
		padding-top: 145px;
		font-size: 18px;
		display: flex!important;
		flex-direction: column;
		position: relative;
		z-index: 10;
	}
	&__item:nth-of-type(2) {
		margin: 0 26px;
	}
	&__img {
		height: 154px;
		width: 154px;
		position: absolute;
		left: 50%;
		top: -38px;
		transform: translateX(-50%);
		&::after {
			content: "";
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    -webkit-transform: translateX(-50%) translateY(-50%);
		    -ms-transform: translateX(-50%) translateY(-50%);
		    transform: translateX(-50%) translateY(-50%);
		    border: 1.5px dashed #e1cebd;
		    width: 170px;
		    height: 170px;
		    border-radius: 50%;
		    z-index: 1;
		}
	}
	&__img-clip {
		height: 100%;
		width: 100%;
		overflow: hidden;
		border-radius: 50%;
		border: 4px solid #b2c88b;
		position: relative;
		img {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
			height: auto;
			max-width: 240px;
		}
	}
	&__head {
		background-color: #f5f8eb;
		font-size: 22px;
		padding: 22px 30px;
		font-weight: 500;
	}
	&__text {
		line-height: 1.56;
		padding: 18px 28px;
		padding-bottom: 22px;
		color: #444444;
	}
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	  .reviews__result {
	    padding: 0;
	    margin-bottom: 15px;
	  }
	}
	&__result {
		display: flex;
		justify-content: space-between;
		margin-top: 3px;
		padding: 0 31px;
		padding-bottom: 18px;
		font-weight: 500;
		line-height: 1.4;
		position: relative;
		margin-top: auto;
		&::before {
			content: '';
			display: block;
			position: absolute;
			width: 15px;
			height: 2px;
			background-color: #b2c88b;
			left: 50%;
			top: 36.5%;
			transform: translateX(-50%);
		}
		&::after {
			content: '';
			display: block;
			position: absolute;
			height: 0;
			width: 0;
			border: 6px solid rgba(0,0,0,0);
			border-left: 6px solid #b2c88b;
			left: 50%;
			top: 33.6%;
			transform: translateX(25%);
		}
		img {
			border-radius: 6px;
			width: 139px;
			height: auto;
		}
	}
	&__caption {
		margin-top: 6px;
	}
}

@media screen and (max-width: 1199px) {
	.reviews {

		&.block {
			padding-top: 86px;
			padding-bottom: 193px;
		}
		&__list {
			margin-top: 25px;
		}
		&__item {
			width: 320px;
			font-size: 17px;
			padding-top: 120px;
			min-height: 694.5px;
			br {
				display: none;
			}
			&:nth-of-type(2) {
				margin: 0 18px;
			}
		}

		&__img {
			height: 136px;
			width: 136px;
			&::after {
				width: 150px;
				height: 150px;
			}
		}
		&__head {
			font-size: 21px;
		    padding: 18px 0px;
		}
		&__text {
			padding: 14px 12px;
			line-height: 1.5;
		}
		&__result {
			&::after {
				top: 52px;
			}
			&::before {
				top: 57px;
			}
			img {
				width: 118px;
			}
		}
	}
}

@media (max-width: 1023px) {
	.reviews {
		margin-top: 0;
		&::before,
		&::after {
			display: none;
		}
		&.block {
			padding: 40px 0;
		}
		.slick-list {
			width: 670px;
			margin-left: auto;
			margin-right: auto;
			padding-top: 50px;
		}
		&__item {
			margin: 0 11px;
			min-height: 625px;
			&:nth-of-type(2) {
				margin: 0 11px;
			}
		}
		&__head {
			font-size: 19px;
			padding: 12px 0;
		}
		&__text {
			line-height: 1.4;
			font-size: 16px;
		}
	}
}

@media (max-width: 767px) {
	.reviews {
		&.block {
			padding: 30px 0;
		}
		.slick-list {
			width: 528px;
			
		}
		&__item {
			max-width: none;
			width: 520px;
			min-height: auto;
			.nowrap {
				white-space: normal;
			}
		}
		&__head {
			font-size: 19px;
			padding: 10px 0;
		}
		&__text {
			font-size: 16px;
			line-height: 1.25;
		}
		&__result {
			padding: 0;
			padding-bottom: 10px;
			width: 300px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

@media screen and (max-width: 639px) {
	.reviews {
		&.block {
			padding: 25px 0;
		}
		.slick-list {
			width: 268px;
// overflow-y: visible;
		}
		&__item {
			width: 260px;
			padding-top: 98px;
			// padding-top: 0;
		}
		&__img {
			// position: static;
			height: 120px;
			width: 120px;
			&::after {
				height: 130px;
				width: 130px;
			}
		}
		&__head {
			font-size: 18px;
		}
		&__text {
			font-size: 15px;
		}
		&__result {
			width: 230px;
			&::after {
				top: 44px;
			}
			&::before {
				top: 49px;
			}
			img {
				width: 100px;
			}
		}
	}
}

