.screens {
	padding-top: 0px;
	padding-bottom: 90px;
	margin-top: -15px;
	position: relative;
	z-index: 10;
	.slick-list {
		width: 1190px;
	}
	&__item {
		margin: 0 15px;
	}
	&__img {
		width: 371px;
		height: auto;
	}
}

@media screen and (max-width: 1199px) {
	.screens {
		&.block {
			margin-top: -75px;
			padding-top: 0px;
			padding-bottom: 60px;
		}
		.slick-list {
			width: 994px;
			margin-left: auto;
			margin-right: auto;
		}
		&__item {
			margin: 0 3px;
		}
		&__img {
			width: 320px;
		}
	}
}
@media (max-width: 1023px) {
	.screens {	

		&.block {
			padding: 40px 0;
			margin-top: 0;
		}
		&::before,
		&::after {
			display: none;
		}
		.slick-list {
			width: 680px;
		}
		&__item {
			margin: 0 10px;
		}
	}
}

@media (max-width: 767px) {
	.screens {
		&.block {
			padding: 30px 0;
		}
		.slick-list {
			width: 382px;
		}
		&__img {
			width: 371px;
		}
	}
}

@media screen and (max-width: 639px) {
	.screens {
		&.block {
			padding: 25px 0;
		}
		.slick-list {
			width: 291px;
		}
		&__img {
			width: 270px;
		}
	}
}


.slick-dots {
	bottom: -34px;
	li button:before {
		content: '';
		background-color: #92b069;
		border-radius: 50%;
		opacity: 0.25;
		width: 14px;
		height: 14px;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
	.slick-active button::before {
		background-color: #92b069;
		opacity: 1;
		width: 18px;
		height: 18px;
	}
}

.slick-arrow {
	height: 32px;
	width: 32px;
	background-color: #92b069!important;
	border-radius: 50%;
	z-index: 20;
	&::before {
		font-size: 24px;
		font-weight: bold;
		line-height: 1;
		position: absolute;
		top: 49%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
}

.slick-prev {
	left: -2px;	
}
.slick-next {
	right: -2px;	
}

@media screen and (max-width: 350px) {
	.slick-prev {
		left: -5px;	
	}
	.slick-next {
		right: -5px;	
	}
}