doctype html
html
  head
    meta(charset="utf-8")
    title Купить Varius недорого. Цены, отзывы. Закажите Varius сейчас!
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    link(href="img/favicon.ico" rel="icon")
    link(rel='stylesheet' href='css/app.css')
    
  body.timer-different




    include ../common/header.html
    include ../common/sing.html
    include ../common/sequela.html
    include ../common/trouble.html
    include ../common/op.html
    include ../common/stat.html
    include ../common/act.html
    include ../common/components.html
    include ../common/certificates.html
    include ../common/reviews.html
    include ../common/screens.html
    include ../common/acme.html
    include ../common/footer.html
    include ../common/nav.html
    script(src='./js/jquery-3.3.1.min.js')
    script(src='./js/slick.min.js')
    script(src='./js/everad.js')
    script(src='./js/app.js')
